[Desktop Entry]
Type=Application
Name=Upgrade Daemon
Comment=Upgrade Daemon
Exec=io.elementary.upgrade.daemon
Terminal=false
Categories=System;Core;
NoDisplay=true
StartupNotify=true
X-GNOME-AutoRestart=true
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=Initialization
OnlyShowIn=Pantheon
